<div class="container">
    <h1 class="display-4">Articles</h1>

    <div class="mb-3">
        Our blog has <span class="badge bg-primary"><%= Article.public_count %></span> articles and counting!
    </div>

    <ul class="list-group">
        <% @articles.each do |article| %>
        <% unless article.archived? %>
            <li class="list-group-item">
            <%= link_to article.title, article %>
            </li>
        <% end %>
        <% end %>
    </ul>

    <%= link_to "New Article", new_article_path, class: "btn btn-primary mt-3" %>
</div>